.blockquote{
    width: 40%;
    height: 100px;
    text-align: initial;
    /* float: left; */
    margin: 0 auto;
}
p{
    font-size: 100%;
    text-align: justify;
}

.img{
    width: 150px;
    height: 150px;
    float: left;
    border-radius: 999px;
    border: salmon 4px solid;
    margin-right: 2rem;
}
.img img{
    width: 100%;
    height: 100%;
    border-radius: 999px;
}
p:before{
    content: "\201C";
    font-family: Arial;
    /* margin-left: 2rem; */
    font-size: 200%;
    color: gold;
}